.form-footer h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 15px;
}

footer {
  display: flex;
  background: var(--main-bg-color-200);
  padding: 30px;
  justify-content: space-around;
}


footer .footer-links-container h3,
footer .footer-networks-container h3 {
  font-size: 2em;
  margin-bottom: 25px;
  color: var(--text-color-300)
}
footer .footer-links,
footer .footer-networks {
  list-style: none;
}
footer .footer-links li,
footer .footer-networks li{
  margin-bottom: 15px;
}
footer .footer-links li a,
footer .footer-networks li a{
  text-decoration: none;
  color: var(--text-color-100);
  font-size: 1.4em;
}
footer .footer-links li a:hover,
footer .footer-networks li a:hover {
  text-decoration: none;
  color: var(--text-color-200);
}

footer .footer-networks li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .footer-networks li a img {
  width: 20px;
  height: 20px;
}

footer form {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

  gap: 10px;
}

footer form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

footer form input,
footer form textarea {
  background: var(--main-bg-color-100);
  font-family: "Poppins", sans-serif;
  border: 2px solid var(--main-bg-color-300);
  border-radius: 5px;
  padding: 10px;
  color: var(--text-color-200);
  outline: none;
  width: 100%;
}
footer form input:valid,
footer form textarea:valid {
  border-color: var(--primary-color-100);
}

footer form input {
  color: var(--text-color-200);
}

footer form button[type="submit"] {
  padding: 15px;
  font-family: "Poppins", sans-serif;
  
  background: var(--primary-color-100);
  border: none;
  outline: none;

  color: white;
  border-radius: 3px;

  cursor: pointer;

  transition: background ease 130ms;
}

footer form button[type="submit"]:hover {
  background: var(--primary-color-200)
}

@media (max-width: 768px){
  footer {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  footer .footer-links,
  footer .footer-networks {
    display: flex;
    gap: 10px;
  }
}
