@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-bg-color-100: #f5ffff;
  --main-bg-color-200: #f0f0f0;
  --main-bg-color-300: #ebebeb;
  --main-bg-color-400: #dadada;

  --main-bg-color-transparence-100: #dadada9d;

  --text-color-100: #393939;
  --text-color-200: #6d6d6d;
  --text-color-200: #878787;

  --primary-color-100: #5cabff;
  --primary-color-200: #79baff;
}

body, html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

html.dark {
  --main-bg-color-100: #303636;
  --main-bg-color-200: #484b4b;
  --main-bg-color-300: #606363;
  --main-bg-color-400: #797b7b;
  
  --main-bg-color-transparence-100: #272929c8;
  
  --text-color-100: #f9f9f9;
  --text-color-200: #dedede;
  --text-color-300: #bcbcbc;
}

body {
  background-color: var(--main-bg-color-100);
  color: var(--text-color-100);
}

section > *,
footer {
  opacity: 0;
  transform: translateY(-80px);
  transition: transform ease 1s, opacity ease 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color-100: #303636;
    --main-bg-color-200: #484b4b;
    --main-bg-color-300: #606363;
    --main-bg-color-400: #797b7b;
  
    --text-color-100: #f9f9f9;
    --text-color-200: #dedede;
  }
}

*/


@media (max-width: 720px) {
  html {
    font-size: 50%;
  }
}