.section-companies {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px;
  gap: 20px;
  margin: 40px;
}

.section-companies .content-companies {
  width: 50%;
}
.section-companies .cards-companies {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 200px));
  gap: 10px;
  width: 50%;
  place-content: center;
}

.section-companies .content-companies h3 {
  font-size: 3rem;

  margin-bottom: 20px;
}
.section-companies .content-companies p {
  font-size: 1.6rem;
  color: var(--text-color-200);
  max-width: 100%;
  min-width: 50%;
}

.section-companies .cards-companies .card-company {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;

  transition: background ease 130ms;

  box-shadow: 0 0 20px 2px var(--main-bg-color-transparence-100);
}
.section-companies .cards-companies .card-company:hover {
  background: var(--main-bg-color-200)
}
.section-companies .cards-companies .card-company img {
  width: 100%;
}

@media (max-width: 980px) {
  .section-companies {
    flex-direction: column;
  }
  .section-companies .cards-companies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .section-companies .content-companies {
    width: 100%;
  }

  .section-companies .cards-companies .card-company {
    margin: 0 0;
  }
}