.section-apresentation {
  display: flex;
  flex-direction: column;

  gap: 40px;

  padding: 20px;
}
.section-apresentation h2 {
  font-size: 3rem;
  text-align: center;
}
.section-apresentation article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  text-align: center;
  place-items: center;
}
.section-apresentation article h3{
  font-size: 3rem;
}
.section-apresentation article p {
  font-size: 1.4rem;
  width: 100%;
}

.section-apresentation article img {
  width: 100%;
  max-width: 50%;
}

@media (max-width: 600px){
  .section-apresentation article {
    display: flex;
    flex-direction: column;
  }
}