.section-apresentation {
  display: flex;
  flex-direction: column;

  position: relative;

  margin: 40px 0;

  background: linear-gradient(to top, var(--main-bg-color-200), transparent, transparent);
}
.section-apresentation::before {
  content: '';

  position: absolute;

  background: var(--main-bg-color-300);

  width: 3px;
  height: 100%;
  left: 10%;
}
.section-apresentation article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.section-apresentation article::before {
  content: '';

  position: absolute;

  background: var(--main-bg-color-300);

  width: 40px;
  height: 40px;
  left: calc(10% - 18px);

  border-radius: 50%;
}
.section-apresentation article:nth-child(even)  {
  flex-direction: row-reverse;
}
.section-apresentation .content-apresentation {
  width: 25%;
  min-width: 400px;
}


.section-apresentation article picture {
  width: 30%;
  min-width: 400px;
}
.section-apresentation article picture img {
  width: 100%;
}



.section-apresentation h2 {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}
.section-apresentation article h3{
  font-size: 3.4rem;
  margin-bottom: 20px;
}
.section-apresentation article p {
  font-size: 1.7rem;
  color: var(--text-color-200);
}

@media (max-width: 600px){
  .section-apresentation {
    padding: 20px;
  }
  .section-apresentation article {
    flex-direction: column;
    margin: 0;
  }
  .section-apresentation article picture {
    width: 100%;
    min-width: auto;
    margin: 0 auto;
  }
  .section-apresentation .content-apresentation {
    width: 100%;
    min-width: auto;
    margin: 0 auto;
  }
}
@media(max-width: 1100px) {
  .section-apresentation article::before {
    display: none;
  }
  .section-apresentation::before {
    display: none;
  }
}