@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-bg-color-100: #f5ffff;
  --main-bg-color-200: #f6f6f6;
  --main-bg-color-300: #ebebeb;
  --main-bg-color-400: #dadada;

  --text-color-100: #393939;
  --text-color-200: #6d6d6d;

  --primary-color-100: #258eff;
  --primary-color-200: #65afff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg-color-100);
  color: var(--text-color-100);
}

@media (max-width: 720px) {
  html {
    font-size: 50%;
  }
}